// MD?-58598 for forward & backward compatability

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

// Badges from bs3 missing from theme/boost/moodle/bs2-compatability.

.label-danger,
.badge-danger {
    @include tag-variant($tag-danger-bg);
}

.label-primary,
.badge-primary {
    @include tag-variant($tag-primary-bg);
}

// Workaround for use of initial being unsupported by IE11, see MDL-59203

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    color: $body-color;
    background: $modal-content-bg;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-content .moodle-dialogue-ft.yui3-widget-ft {
    background: $modal-content-bg;
}

.file-picker .yui3-datatable-header {
    background: $table-bg;
}

// Should be in bs4, possibly missing from moodle alpha.

.float-right {
    float: right;
}

.float-left {
    float: left;
}

// IE11 workaround for CSS column-count interacting weirdly with drop-down menus.

.ie11.editing #moodle-blocks > aside {
    column-count: 1;
}
