// -------------------------
//  Personal menu.
// -------------------------

/* stylelint-disable declaration-no-important*/

#snap-pm {
    background-color: #eee;
    overflow-x: hidden; // Prevent scrollbars.
    display: none;

    @include media-breakpoint-up(md) {
        min-height: 100vh;
    }
}

#primary-nav {
    display: none;
}

body.snap-pm-open {
    background-color: #eee;
}

// -------------------------
//  Personal open and close.
// -------------------------
.snap-pm-open {

    #snap-pm {
        display: block;
    }

    #page,
    #moodle-footer,
    #mr-nav,
    #newmessageoverlay,
    .skiplinks {
        display: none;
    }

    // Animate opening the pm.
    #snap-pm-inner {
        /* stylelint-disable no-unknown-animations*/
        animation-name: snap-drop;
        /* stylelint-enable no-unknown-animations*/
        animation-iteration-count: once;
        animation-timing-function: ease-in-out;
        animation-duration: 0.3s;
    }
}

// -------------------------
//  Personal menu header.
// -------------------------
#snap-pm-header {
    padding: 2%;
    color: white;

    .userpicture {
        float: left;
        width: 5em;
        margin-right: 2%;
    }

    .userinitials.size-90 {
        float: left;
        margin-right: 2%;
        width: 90px;
        height: 90px;
        font-size: 2rem;
    }

    h1,
    a {
        color: white !important;
        padding-top: 0; // No top padding on close icon and links.
    }
}

// -------------------------
//  Navigation to previous years courses.
// -------------------------
#snap-pm-courses-nav {
    border: none;
    // Reset bs styles.
    .nav-item {
        float: left;
    }
    .nav-link {
        background-color: transparent;
        border: none;
        padding: .5em;
    }
}


// -------------------------
//  Personal menu content.
// -------------------------
#snap-pm-content {
    padding: 2%;
    position: relative;

    // Headings for sections including updates.
    h2 {
        clear: both;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        padding: 0.5em 0;
        margin: 0.5em 0;
    }

    #snap-pm-courses {
        overflow: hidden;
    }

    // Tablet and mobile display.
    @include media-breakpoint-down(md) {
        width: 700vw;

        section {
            width: calc(100vw - 2em) !important;
            float: left;
            padding: 0 2em;
            margin-bottom: 60px; // For the menu.
            border-color: transparent !important;

        }
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translate3d(-1000px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translate3d(1000px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

// -------------------------
//  Personal menu tablet & mobile navigation.
// -------------------------
#snap-pm-mobilemenu {
    display: none;

    @include media-breakpoint-down(md) {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 60px;
        padding: .5em 0;
        display: flex;
        background-color: white;
        border-top: 1px solid $gray-lighter;

        a {
            flex: 1;
            margin: 0 4%;
            text-align: center;
            outline: none;
            @include alakazam();

            .svg-icon {
                border-radius: 50%;
                height: 40px;
                width: 40px;
                background-color: white;
                border: 1px solid $gray-light;
            }

            &.state-active {
                transform: scale(1.5);
                margin-top: -.5em;
            }
        }
    }
}

// -------------------------
//  Personal menu links to browse all course, see all messages etc.
// -------------------------
#snap-pm-courses .snap-personal-menu-more {
    position: absolute;
    top: 0;
    right: 0;
}
.snap-personal-menu-more {
    display: block;
    text-align: right;
    .snap-feeds-refresh-icon,
    .snap-feeds-more-icon{
        display: none;
    }
}

.snap-personal-menu-feed-loading {
    &:after {
        @include ajaxing(inline-block, relative, 20px, 6px);
    }
}
.snap-log-in-more {
    padding: 1em;
    display: block;
    text-align: center;
}
.snap-log-in-loading-spinner {
    &:after {
        @include ajaxingwhite(inline-block, relative, 10em, 2em);
    }
}
.snap-login-option {
    display: none;
}
#snap-personal-menu-deadlines li,
#snap-personal-menu-grading li {
    list-style-type: none;
}