// This file is for the SCSS of any plugin that must be affected by Category styles.
// Put a `.theme-snap {` at the end of your selector for this to take effect.

#page-local-pld-view.theme-snap {
  pld-main {
    ul#pld_tab {
      border: none;
    }

    i.icon-actions {
      color: $brand-primary;
    }

    a.btn-link.help-icon-btn.notifications {
      color: #ddd;
    }

    a.btn-link.help-icon-btn.notifications:hover {
      color: $brand-primary;
    }

    .nav-tabs .nav-link {
      border: none;
      text-transform: uppercase;
      font-size: medium;
    }

    .nav-tabs .nav-link.active {
      border-bottom: 5px $brand-primary solid ;
      border-radius: 5px;
    }

    select.custom-select {
      border: none;
      border-radius: 5px;
    }

    .activity-filter .btn-group button.btn.btn-secondary {
      margin: 0;
      box-shadow: none;
    }
    .dropdown-menu.dropdown-menu-right.show {
      border-color: $brand-primary;
    }

    .activity-filter .btn-group button.btn.btn-secondary.btn-left {
      color: $gray-light;
      background: white;
      border: none;
    }
    .btn.btn-secondary.btn-ins {
      background: $brand-primary;
      color: white;
    }

    button.btn.btn-secondary:hover, button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split{
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: white;
    }
    button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split {
      min-width: 0;
    }
    .btn.btn-secondary, .btn.btn-secondary:focus, .btn.btn-secondary:focus:not(:disabled) {
      color: $brand-primary;
      background: white;
      font-size: medium;
      min-height: 2.5em;
      min-width: 9em;
    }

    a:focus, .dropdown-toggle:focus,
    select.custom-select:focus, select.custom-select, .nav-link:focus,
    .btn.btn-secondary, .btn-group  {
      outline: transparent;
      box-shadow: -1px 3px 7px 2px rgb(223 223 223);
    }
  }
}
