<div id="snap-site-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {{#slides}}
                <div class="carousel-item carousel-{{name}} {{active}}">
                    <div class="carousel-slide" style="background-image:url({{{image}}});">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{title}}</h1>
                            <p>{{subtitle}}</p>
                        </div>
                    </div>
                </div>
        {{/slides}}
    </div>
    <div class="carousel-controls">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
  </div>
  <ol class="carousel-indicators js-only">
     {{#slides}}
        <li data-target="#snap-site-carousel" data-slide-to="{{index}}" class="{{active}}"></li>
    {{/slides}}
  </ol>
</div>
