<div class="toc-footer">
    {{#canaddnewsection}}
    <a href="#snap-add-new-section">
        <img src="{{imgurladdnewsection}}" class="svg-icon" alt="" />{{#str}}addanewsection, theme_snap{{/str}}
    </a>
    {{/canaddnewsection}}
    <a href="#coursetools">
        <img src="{{imgurltools}}" class="svg-icon" alt="" />{{#str}}coursetools, theme_snap{{/str}}
    </a>
</div>
