<form id="toc-search" onSubmit="return false;">
    <input id="toc-search-input" type="search" title="{{#str}}search{{/str}}" placeholder="{{#str}}search{{/str}}" aria-autocomplete="list" aria-haspopup="true" aria-activedescendant="toc-search-results" autocomplete="off" />
    <ul id="toc-search-results" class="list-unstyled" role="listbox" aria-label="search results" aria-live="polite" aria-relevant="additions"></ul>
    <ul role="listbox" id="toc-searchables" aria-hidden="true">
        {{#modules}}
            <li role=option data-id="{{cmid}}">
                <a href="{{url}}" tabindex="0">
                    <img src="{{iconurl}}" alt="" />
                    <span class="sr-only">{{srinfo}}</span>
                    {{{formattedname}}}
                    {{^uservisible}}
                    <span class="linkinfo">
                        {{#str}}notpublished, theme_snap{{/str}}
                    </span>
                    {{/uservisible}}
                </a>
            </li>
        {{/modules}}
    </ul>
</form>
