{{#progress}}{{#progress.total}}
    <span class="completionstatus outoftotal">
        {{#completed}}
        <img class="snap-section-complete" src="{{pixcompleted}}" alt="{{#str}}completed, completion{{/str}}" />
        {{/completed}}
    {{#str}} progresstotal, completion, { "complete":  {{progress.complete}}, "total": {{progress.total}} } {{/str}}
    </span>
{{/progress.total}}{{/progress}}

