{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_snap/courseformat_init

    Modifies the _scrollHandler course format content JS method.
}}
{{#js}}
require(['core_courseformat/local/content'], function(component) {
    const originalInit = component.init;
    component.init = function() {
        const instance = originalInit.apply(this, arguments);
        window.componentInstance = instance;
        instance.selectors.SECTION = "li[data-for='section']";
        instance._scrollHandler = function() {
            return;
        };
        return instance;
    };
});
{{/js}}
