{{#formatsupportstoc}}
<nav id="course-toc" class="js-only">
    <div>
        <h2 id="toc-desktop-menu-heading">
             {{#str}}contents, theme_snap{{/str}}
        </h2>
        <div class="course-toc-mobile-header">
            <h4 class="mb-0 d-inline-block text-white">
                {{#str}}leftnav, theme_snap{{/str}}
            </h4>
            <a id="toc-mobile-menu-toggle" href="#course-toc" class="btn text-white toc-mobile-menu-toggle-close">
                <small class="sr-only"><br>{{#str}}contents, theme_snap{{/str}}"</small>
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        {{> theme_snap/course_toc_module_search}}
    </div>

    {{#chapters}}
        {{> theme_snap/course_toc_chapters }}
    {{/chapters}}

    {{#footer}}
        {{> theme_snap/course_toc_footer }}
    {{/footer}}
</nav>
{{/formatsupportstoc}}
