<div id="coverimagecontrol">
    <label class="btn btn-sm btn-file btn-solid state-visible" for="coverfiles"><span>{{#str}}changecoverimage, theme_snap{{/str}}</span>
       <input id="coverfiles" name="coverfiles[]" type="file" accept="image/gif, image/jpeg, image/png, image/svg"/>
    </label>
    <div id="changecoverimageconfirmation">
        <button class="btn btn-sm btn-solid ok">{{#str}}save, admin{{/str}}</button>
        <button class="btn btn-sm btn-link cancel">{{#str}}cancel{{/str}}</button>
    </div>
</div>
