<div id="n2018-coverimagecontrol">
    <label class="btn btn-sm btn-file btn-solid state-visible" for="n2018-coverfiles"><span>{{#str}}changecoverimage, theme_n2018{{/str}}</span>
       <input id="n2018-coverfiles" name="n2018-coverfiles[]" type="file" accept="{{accepttypes}}"/>
    </label>
    <div id="n2018-changecoverimageconfirmation">
        <button class="btn btn-sm btn-success ok">{{#str}}save, admin{{/str}}</button>
        <button class="btn btn-sm btn-danger cancel">{{#str}}cancel, moodle{{/str}}</button>
    </div>
</div>
