<div id="snap-coverimagecontrol">
    <label class="btn btn-sm btn-file btn-solid state-visible" for="snap-coverfiles"><span>{{#str}}changecoverimage, theme_snap{{/str}}</span>
       <input id="snap-coverfiles" name="snap-coverfiles[]" type="file" accept="{{accepttypes}}"/>
    </label>
    <div id="snap-changecoverimageconfirmation">
        <button class="btn btn-sm btn-solid ok">{{#str}}save, admin{{/str}}</button>
        <button class="btn btn-sm btn-link cancel">{{#str}}cancel, moodle{{/str}}</button>
    </div>
</div>
