<div id="snap-pm" class="snap-pm-login-form" tabindex="-1">
    <div id="snap-pm-inner">

        <header id="snap-pm-header" class="clearfix">
            <div class="pull-right">
                <a id="snap-pm-close" class="js-snap-pm-trigger snap-action-icon snap-icon-close" href="#">
                        <small>{{#str}}closebuttontitle{{/str}}</small>
                </a>
            </div>
            <h1>{{#str}}login{{/str}}</h1>
        </header>
        <div class ="snap-pm-section">
            {{#baselogin}}
                <div class="snap-pm-content">
                    {{{.}}}
                </div>
            {{/baselogin}}
            {{#divider}}
                <div class="vertical-divider"></div>
                <div class="horizontal-divider">
                    <hr></hr>
                </div>
            {{/divider}}
            {{#altlogins}}
                <div class="snap-pm-content">
                    {{{.}}}
                </div>
            {{/altlogins}}
        </div>
        <div id="snap-pm-login-help">
            <a class="btn btn-primary" href="{{action}}"><i class="fa fa-info-circle" aria-hidden="true"></i> {{#str}}help{{/str}}</a>
        </div>
    </div>
</div>
