<div id="snap-move-message" tabindex="-1">
    <h5 class="snap-move-message-title"></h5>
    <p class="sr-only">-</p>
    <a class="snap-move-cancel snap-action-icon" href="#">
        <i class="icon icon-close"></i><small>{{#str}}cancel{{/str}}</small>
    </a>
</div>
